.container{
    width: 400px;
    height: 200px;
    background-color: gold;
}
.h1{
    background-color: blueviolet;
}
.texto_h1{
    color: blue;
}
p{font-size: 40px;}
.p1{color: darkgoldenrod;}
.p2{color: green;}
.t1{font-size: 50px;}
.div2{
    color: white;
width: 400px;
height: 400px;
background-color: black;
}
#id_div1{
    background-color: yellow;
    color: red;
}
.botao{background-color: aqua;
color: rgb(255, 0, 140);
width: 400px;
height: 60px;
border-radius: 22px;
border: 1px dashed black;
font-size: 30px;

}